.signup-container {
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  width: 35%;
  height: auto;
  margin: auto;
  margin-block: 50px;
  padding: 20px;
  border-radius: 5px;
}

.header {
  border-bottom: 3px solid blue;
  width: max-content;
  margin: auto;
  font-size: 35px;
  font-weight: 500;
}

.form-wrapper {
  padding: 20px;
  margin: 10px;
}

.input-wrapper {
  margin: 20px;
}

.input-label {
  font-size: 18px;
}

.input {
  border: none;
  border: 2px solid gray;
  font-size: 16px;
  padding: 5px 10px;
  margin: 5px 8px;
  border-radius: 5px;
  outline: none;
  width: 80%;
}

.input:focus-within {
  border: 2px solid blue;
}

.icon {
  cursor: pointer;
}

.button-wrapper {
  width: 90%;
  margin: auto;
  border: 2px solid blue;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  transition: ease-in-out 0.3s;
  font-size: 20px;
  padding: 5px;
}

.button-wrapper:hover {
  background: blue;
  color: white;
}

.login-link {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .signup-container {
    width: 50%;
  }
  .input {
    width: 90%;
  }
}

@media only screen and (max-width: 800px) {
  .signup-container {
    width: 85%;
  }
}
