.toast-container {
  display: flex;
  gap: 10px;
  background: black;
  color: white;
  padding-inline: 10px;
  position: fixed;
  z-index: 1;
  width: 25%;
  border-radius: 5px;
  align-items: "center";
  right: 0;
  margin-inline: 20px;
  transition: transform 0.5s ease-in-out, right 0.5s ease-in-out;
}
